.main-container {
  background-color: #f3f3f3;
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.card-container {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
  grid-auto-rows: 150px;
}

.card {
  padding: 30px;
  margin: 20px; 
  background: #84bfff;
  position: relative;
  &__title {
    text-align: center;
    text-transform: capitalize;
  }
  &__delete-icon {
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
    padding: 2px 7px;
  }
  &__delete-icon:hover {
    border-radius: 20px;
    background-color: #f3f3f3;
  }
}